"*":
  editor:
    lineHeight: 1.7
    showInvisibles: true
    showIndentGuide: true
    tabLength: 4
    softTabs: false
  core:
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      ".idea"
      ".sass-cache"
      "templates-compiled"
      "*.css"
      "*.css.map"
      "node_modules"
      "phpunit"
      "tags"
      ".tags_swap"
      "static-compiled"
      "build"
    ]
    excludeVcsIgnoredPaths: false
  "atom-beautify":
    js_indent_size: 4
    js_indent_with_tabs: true
    js_jslint_happy: true
    css_indent_size: 4
    html_indent_size: 4
    html_indent_char: "  "
    css_convert_quotes: "single"
  "git-blame":
    ignoreWhiteSpaceDiffs: true
  linter:
    ignoredLinterErrors: [
      "scss-lint"
      "php"
    ]
  docblockr:
    param_description: false
    return_description: false
    spacer_between_sections: true
    align_tags: "no"
  "autocomplete-plus":
    confirmCompletion: "tab and enter"
  "atom-terminal":
    surpressDirectoryArgument: false
  "linter-scss-lint":
    executablePath: "/usr/local/bin/scss-lint"
  "linter-phpmd":
    executablePath: "/usr/local/bin/phpmd"
